infrastructure/*.tfstate
infrastructure/.terraform
infrastructure/.terraform.lock.hcl
infrastructure/*.tfstate*

infrastructure/databricks/*.tfstate*
infrastructure/databricks/.terraform
infrastructure/databricks/.terraform.lock.hcl
infrastructure/databricks/*.tfstate